<div class="card text-center">
<%= form_for(@transaction, url: client_account_transactions_path(@client, @account, transaction))  do |f| %>
<div class="form-control form-control-lg">
<%= f.label :Select_Transaction_Type %><br>
</div>

<div class="form-control ">
<%= f.select :transaction_type, options_for_select(["Select one","deposit", "withdraw"]) %>
</div>
<div class="form-control form-control-lg">
<%= f.label :Enter_the_amount%><br>
</div>
<div class="form-control form-control-sm">
<%= f.number_field :amount, required: true %>
</div><br><br>
<div class = "action">
<%= f.submit %>
</div>
<% end %>
</div>