
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<%=%>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p><br><br>
<div class="card text-center">
<%= form_for(@account, url: client_accounts_path(@client)) do |f|%>
<div class="form-group">
<%= f.label :Initial_amount_you_want_to_deposit %><br>
<%= f.text_field :balance%>
</div>

<div class = "action">
<%= f.submit %>
</div>
<% end %>
</div>

   
 